{% extends 'base.html.twig' %}

{% block body %}
    <h1> test body</h1>
    <p>{{ treść }}</p>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        //test skryptów
    </script>
{% endblock %}